/****** General ***********/
*{
    font-family: "Roboto", sans-serif;
    font-style:normal;
}

h{
    font-family: "Shirkhand";
}


:root {
    --main-color: #9356DC;
    --second-color:#FF79DA;
    --third-color: #99E2D0;
}


.header img{
        height: 36px;

    }

    
.input-first{
        width:100%; 
    }

.fa-solid .fa-location-dot{
        height:16px;
        width:12px;
    }

::placeholder{
        color: black;
        text-align: center;
        font-size: 16px;
        font-weight:normal;
    }

.input-first .location{
        width:100%;
        height: 50px;
        background-color:#EAEAEA;
        border-top: 1px grey solid;
        border-bottom: 1px grey solid;
        border-right: none;
        border-left: none;
        box-shadow: 3px 3px 3px 3px grey;
        

    }

.container-title{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        background-color: #F2F2F2;
    }

    
.container-title h2{
    
    width: 60%;

    }


.container-title h3{
    text-align: center;
    margin-bottom: 30px;
    font-weight:lighter;

}

.container-title .rounded{
        border-radius: 25px;
        background:linear-gradient(110deg, #9356DC, #FF79DA);
        color: white;
        font-weight: bold;
        height: 50px;
        width: 50%;
        margin: 30px;
        font-size: 16px;
        

    }

.function{
        padding: 20px;
    }


.function .function-first{
        background-color: #F2F2F2;
        display: flex;
        border-radius: 20px;
        margin: 10px;
        height: 72px;

    }

.function .fa-solid .fa-mobile-screen-button{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        margin: 15px;
    }

.function .function-first{
        /* display: flex; */
        /* flex-wrap: nowrap;
        align-items: baseline;
        justify-content: center;
        background-color: #F2F2F2;
        border-radius: 15px;
        margin:20px;
        height:72px; */
    }

.function .function-first p{
        font-size:  16px;
        font-weight:bold;
    }

.ContainerMenu {
        display: grid;
        grid-template-columns: 200px 50px 50px 100px;
        grid-template-rows: 40px 40px 40px 40px;

    }

.Pix{
        height:231px;
        border-radius:27px;
        width: 60%;
    }


.New{
    color:green;
    border: solid 1px ;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    background-color: #008766
    opacity: 0.45;

}

.TitleM{
    border-radius :15px;
    background-color: white;
    color: black;

}
     
    
footer{
        display: flex;
        flex-direction: column;
        background-color: #353535;
        color: white;
    }

.footer .img{
        height: 27px;
        color: white;
    }


