/****** General ***********/
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  height: 63px;
}
header h1 img {
  height: 36px;
  margin-right: 20px;
}

.input-first {
  background-color: #EAEAEA;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  filter: drop-shadow(3px 3px 3px grey);
}

.input-first .location {
  background-color: #EAEAEA;
  border: none;
}

.IconsInput {
  height: 16px;
  width: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

::-moz-placeholder {
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

::placeholder {
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

.input-first {
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  filter: drop-shadow(3px 3px 3px grey);
}
.input-first .location {
  background-color: #EAEAEA;
  border: none;
}
.input-first .IconsInput {
  height: 16px;
  width: 12px;
  display: flex;
  flex-direction: column;
}

::-moz-placeholder {
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

::-moz-placeholder,
::placeholder {
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

.container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
  padding: 10px;
}
.container-title h2 {
  width: 70%;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}
.container-title h3 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: lighter;
}

.BtnRounded {
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  color: white;
  font-weight: bold;
  height: 50px;
  width: 70%;
  margin: 30px 0 40px;
  font-size: 16px;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}
.BtnRounded:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
}

.IconsFunction {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  color: #7E7E7E;
}
.IconsFunction:hover {
  color: #9356DC;
}

.IconsInput {
  height: 16px;
  width: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.IconsArrow {
  height: 30px;
  width: 30px;
  color: black;
  margin-bottom: -30px;
  display: flex;
  justify-content: center;
}

.IconsCheck {
  border-radius: 50%;
  border: 1px solid white;
  padding: 2px;
  color: #99E2D0;
  background: white;
  display: flex;
  justify-content: center;
}

.IconsFooter {
  margin-right: 5px;
}

.Function {
  padding: 20px;
}
.Function .function-first {
  background-color: #F2F2F2;
  display: flex;
  border-radius: 20px;
  margin: 10px;
  height: 72px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  min-width: 300px;
}
.Function .function-first p {
  font-size: 16px;
  font-weight: bold;
  margin-right: 50px;
}
.Function .NumberFunction {
  margin-left: -15px;
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  width: 24px;
  justify-content: center;
  align-items: center;
  height: 24px;
  background-color: #9356DC;
  border: none;
  font-weight: bold;
  color: white;
}
.Function .IconsFunction {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 15px;
}

.GridRestaurant {
  padding: 20px;
  background-color: #F6F6F6;
}
.GridRestaurant .RestaurantCard a {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 75% 25%;
}
.GridRestaurant .MenuCard {
  margin-bottom: 17px;
}
.GridRestaurant .ImgCard {
  grid-column: 1/3;
  grid-row: 1/2;
}
.GridRestaurant .ImgCard img {
  height: 200px;
  border-radius: 27px 27px 0 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.GridRestaurant .IconsCard {
  z-index: 2;
  font-size: 22px;
  position: relative;
  top: -80px;
  left: 80%;
  width: 20%;
}
.GridRestaurant .NewCard {
  font-weight: 500;
  font-size: 14px;
  background-color: #99E2D0;
  color: #008766;
  grid-row: 1;
  grid-column: 2/3;
  width: 80px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 20px;
}
.GridRestaurant .Card {
  grid-row: 2/3;
  grid-column: 1/3;
  border: 1px solid white;
  border-radius: 0 0 15px 15px;
  background-color: white;
  color: black;
  font-weight: bold;
  height: 70px;
  z-index: 1;
  position: relative;
  bottom: 15px;
  padding: 5px;
}
.GridRestaurant a {
  text-decoration: none;
}
.GridRestaurant .MainTitle {
  font-weight: bold;
  font-size: 18px;
  margin: 2px;
}
.GridRestaurant .SecondTitle {
  font-weight: lighter;
  font-size: 17px;
  margin: 1px;
}

footer {
  background-color: #353535;
  padding: 10px;
  color: white;
  height: 186px;
}

.MainFooter {
  display: flex;
  flex-direction: column;
}

.Logo {
  font-weight: bold;
  font-size: 18px;
  color: white;
  font-family: "Shrikhand";
}

a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}

.IconsFooter {
  margin-right: 5px;
}

input[type=checkbox] {
  opacity: 0;
  z-index: 4;
  position: absolute;
}

.FilledHeart, .EmptyHeart {
  position: absolute;
  transition: opacity 0.3s ease;
}

input[type=checkbox]:checked ~ .EmptyHeart {
  opacity: 0;
}

input[type=checkbox]:checked ~ .FilledHeart {
  opacity: 1;
}

.FilledHeart {
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  opacity: 0;
}

.EmptyHeart {
  opacity: 1;
  color: black;
  cursor: pointer;
}

.Entrees {
  animation: slideEntree 1s;
}

.Plats {
  animation: slidePlat 3s;
}

.Desserts {
  animation: slideDessert 4s;
}

@keyframes slideEntree {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slidePlat {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slideDessert {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.CheckMark, .CardContent, .CardNS, .Price {
  transition: all 0.4s ease-in-out;
}

.CardContent:hover .Price {
  transform: translateX(-82px);
}

.CardContent:hover .CheckMark {
  transform: translateX(-70px);
}

.IconsH {
  font-size: 2rem;
  position: absolute;
  transition: opacity 0.3s ease;
}

@keyframes filledHeart {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}
@keyframes EmptyHeart {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.IconsCard:hover .EmptyHeart {
  animation: unfillHeart 0.3s forwards;
}

.IconsCard:hover .FilledHeart {
  animation: fillHeart 0.3s forwards;
  opacity: 1;
}

.CardContent:hover .Price {
  transform: translateX(-40px);
}

.CardContent:hover .CardNS {
  max-width: calc(100% - 110px);
}

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 96px;
  }
  .BtnRounded {
    width: 218px;
    margin-top: -15px;
    margin-bottom: 30px;
    font-size: 16px;
  }
  .container-title h2 {
    height: 47px;
    margin-top: 30px;
    margin-bottom: 18px;
    font-size: 40px;
  }
  .container-title h3 {
    height: 46px;
    font-size: 18px;
    margin-bottom: 18px;
  }
  .input-first .location {
    height: 19px;
  }
  .TitleFunction {
    margin-left: 5%;
  }
  .Function {
    padding: 50px 180px;
  }
  .Function.function-first {
    width: 30%;
  }
  .Function .FunctionCard {
    display: flex;
    justify-content: space-around;
  }
  .Function .function-first p {
    margin-left: 15px;
  }
  .IconsFunction {
    margin-left: 15px;
  }
  .MenuCard {
    width: 40%;
  }
  .Resto {
    height: 383px;
  }
  .ImgResto {
    height: 115%;
  }
  .Menu {
    padding: 0 180px;
    width: 40%;
    margin: auto;
  }
  .GridRestaurant {
    padding: 20px 180px;
  }
  .GridRestaurant h2 {
    margin-bottom: 28px;
    margin-left: 5%;
  }
  .ContainerMenu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 100px;
         column-gap: 100px;
    row-gap: 50px;
    width: 100%;
  }
  .Subtitle {
    margin-top: 1px;
    font-size: 15px;
  }
  .Name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1px;
  }
  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    height: 114px;
  }
  footer a {
    margin-right: 20px;
  }
  footer .img {
    color: white;
  }
  .IconsArrow {
    position: absolute;
    left: 10px;
    margin-top: -10px;
  }
  .Logo {
    font-size: 18px;
    position: absolute;
    right: 5px;
    margin-right: 20px;
    margin-top: 50px;
    font-family: "Shrikhand";
    margin-bottom: 0.5rem;
  }
  .MainFooter {
    display: flex;
    flex-direction: row;
    margin-left: 32%;
    margin-top: 45px;
  }
  .IconsFooter.TxtFooter {
    margin-right: 20px;
  }
}
.Loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: FadeOut 3s forwards;
}
.Loader .spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid;
  border-color: #FF79DA;
  border-right-color: #9356DC;
  animation: spinner-omf 0.6s infinite linear;
}
@keyframes spinner-omf {
  to {
    transform: rotate(1turn);
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.main-container {
  display: block;
  opacity: 1;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.header h1 img {
  height: 36px;
}

.Resto {
  height: 220px;
}

.ImgResto {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.TitleResto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  font-family: font-logo;
  margin-left: 10px;
}
.TitleResto .entrees,
.TitleResto .plat,
.TitleResto .desserts {
  margin-bottom: 40px;
}

.Menu {
  background-color: #F6F6F6;
  border-radius: 47px 47px 0 0;
  position: relative;
  z-index: 3;
  color: black;
}
.Menu .TitleMenu {
  margin: 12px;
  font-size: 18px;
  font-weight: 200;
}
.Menu .HeartTitle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  justify-content: flex-end;
}
.Menu .LineMenu {
  border: 1px solid;
  width: 40px;
  color: #99E2D0;
  margin-left: 10px;
  margin-bottom: 12px;
  margin-top: -10px;
}

#CustomFont {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: normal;
  margin-right: 30px;
}

.CardContent {
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  padding: 0 10px;
  margin: 10px;
  filter: drop-shadow(2px 4px 6px grey);
  overflow: hidden;
}
.CardContent .CardNS {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.CardContent .Subtitle {
  margin-top: 1px;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.CardContent .Price {
  font-weight: bold;
  font-size: 15px;
  margin-top: 45px;
  margin-right: 15px;
}
.CardContent .CheckMark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 71px;
  background-color: #99E2D0;
  margin-right: -82px;
  border-radius: 0px 15px 15px 0px;
}
.CardContent .Name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

footer img {
  height: 27px;
  width: 139px;
  color: white;
}

.LogoMenu {
  font-family: "Shrikhand";
  font-weight: bold;
  font-size: 18px;
  color: white;
  position: absolute;
  right: 5px;
  margin-right: 20px;
  margin-top: 45px;
}

.fa-solid .fa-utensils,
.fa-solid .fa-handshake-angle {
  color: white;
}

.BtnRounded a:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  height: 50px;
}/*# sourceMappingURL=main.css.map */