* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

body {
  margin: 0px;
}

:root {
  --main-color: #9356DC;
  --second-color:#FF79DA;
  --third-color: #99E2D0;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:10px;
  height: 63px;

  h1 img{
    height:36px;
  }

}

.input-first {
  background-color: #EAEAEA;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
  justify-content: center;
  height:50px;
  width:100%;
  filter: drop-shadow(3px 3px 3px grey);
}

.input-first .location {
  background-color:#EAEAEA;
  height: 19px;
  border: none;
}

.IconsInput{
  height: 16px;
  width: 12px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}


::placeholder {
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

.container-title {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
  padding: 10px;

  h2, h3 {
    text-align: center;
    margin-bottom: 10px;
  }

  h2 {
    width: 70%;
    font-weight: bold;
    font-size: 24px;
  }

  h3 {
    font-weight: lighter;
  }
}

.BtnRounded {
  border-radius: 25px;
  background: linear-gradient(358deg, #9356DC, #FF79DA);
  color: white;
  font-weight: bold;
  height: 50px;
  width: 65%;
  margin: 30px;
  font-size: 16px;
  border: none;
  padding: 10px;
}

.BtnRounded .a:hover {
  background: linear-gradient(158deg, #9356DC, #FF79DA);
}


.GridRestaurant {
  padding: 20px;
  background-color: #F6F6F6;
}

.RestaurantCard {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 75% 25%;
  margin: 18px;
}

.ImgCard img {
  height: 200px;
  border-radius: 27px 27px 0px 0px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.ImgCard {
  grid-column: 1/3;
  grid-row: 1/2;
}

.IconsHeart {
  grid-column: 2;
  grid-row: 2;
  z-index: 2;
}

.IconsHeart i {
  color: black;
  font-size: 25px;
  position: relative;
}


.NewCard {
  border: solid 1px;
  font-weight: bold;
  font-size: 14px;
  background-color: #99E2D0;
  font-weight: 500;
  height: 29px;
  color: #008766;
  display: block;
  grid-row: 1;
  grid-column: 2/3;
  width: 80%;
  padding: 3px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.Card {
  grid-row: 2/3;
  grid-column: 1/3;
  border: 1px solid white;
  border-radius: 0px 0px 15px 15px;
  background-color: white;
  color: black;
  font-weight: bold;
  height: 70px;
  z-index: 1;
  position: relative;
  bottom: 15px;
  padding: 5px;
}

a {
  text-decoration: none;
}

.MainTitle {
  font-weight: bold;
  font-size: 18px;
  margin: 2px;
}

.SecondTitle {
  font-weight: lighter;
  font-size: 17px;
  margin: 1px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 10px;
  color: white;
}

.logo {
  font-family: Shrikhand;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.logo2 {
  display: none;
}

******** restaurants*********


 .header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.IconsArrow{
  height:30px;
}

h1 img {
  height: 36px;
}

.Resto{
  height:220px;
  position: relative;
  z-index: index 1;
}

.ImgResto {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Menu {
  background-color: #F6F6F6;
  border-radius: 47px 47px 0px 0px;
  position:relative;
  z-index:2;
}

.TitleResto {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  justify-content: center;
  font-family: Shrikhand;
  margin-bottom:40px;
}

.TitleResto p{
  margin-right:20px;
}


.Appetizer {
  margin: 12px;
  font-size: 18px;
  font-weight: 200;
}

.entrees{
  margin-bottom:40px;
}

.plat{
  margin-bottom:40px;
}

.Desserts{
  margin-bottom:40px;
}

.BtnRounded{
  margin-bottom:40px;
}

.Btn{
  display: flex;
  justify-content: center;
}

.IconsArrow{
  height:30px;
}

.CardContent {
  border: solid 1px white;
  border-radius: 15px;
  background-color: white;
  height: 69px;
  align-items: flex-end;
  padding-left: 10px;
  width: auto;
  padding-right: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  filter: drop-shadow(2px 4px 6px grey);
}

.Subtitle {
  margin-top: 1px;
  font-size: 15px;
}

.Price {
  font-weight: bold;
  font-size: 15px;
}

.Name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 10px;
  color: white;
}

footer img {
  height: 27px;
  width: 139px;
  color: white;
}

.logo {
  font-family: Shrikhand;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.fa-solid .fa-utensils .fa-handshake-angle {
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.BtnRounded .a:hover {
  background: linear-gradient(158deg, #9356DC, #FF79DA);
}

.container-title {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
  padding: 10px;
}

.container-title h2 {
  width: 70%;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.container-title h3 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: lighter;
}/*# sourceMappingURL=restaurant.css.map */

@media screen and (min-width: 767px) and (max-width: 1440px) {
  .BtnRounded {
    width: 25%;
  }
  .container-title h2 .container-title h3 {
    margin-bottom: 18px;
  }
  
  .function-card{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

  }

  .function {
    padding-right: 180px;
    padding-left: 180px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .function h2{
    Margin-bottom :25px ;
  }

  .IconsFunction {
    margin-left: 15px;
  }
  .function .function-first p {
    margin-left: 15px;
  }
  .ContainerMenu {
    display: flex;
    width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer {
    display: flex;
    flex-direction: row;
  }
}/*# sourceMappingURL=main.css.map */