
$ColorButton: linear-gradient(358deg, #9356DC, #FF79DA);


.BtnRounded {
    border-radius: 25px;
    background: $ColorButton;
    color: white;
    font-weight: bold;
    height: 50px;
    width: 65%;
    margin: 30px;
    font-size: 16px;
    border:none;
    padding:10px;
  }
    .BtnRounded .a:hover{
    background: linear-gradient(158deg, #9356DC, #FF79DA);
    }
  
 


 





