
$ColorButton: linear-gradient(358deg, #9356DC, #FF79DA);
$ColorButton2:linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);


.BtnRounded {
    border-radius: 25px;
    background: $ColorButton;
    color: white;
    font-weight: bold;
    height: 50px;
    width: 65%;
    margin: 30px;
    font-size: 16px;
    border:none;
    padding:10px;
    margin-bottom:40px;
  }
    .BtnRounded :hover{
      background: $ColorButton2;
    }
   
    .BtnRounded {
      border-radius: 25px;
      background: $ColorButton;
      color: $color-white;
      font-weight: bold;
      height: 50px;
      width: 70%;
      margin: 30px 0 40px;
      font-size: 16px;
      border: none;
      padding: 10px;
      cursor: pointer;
      text-align: center;
      
      &:hover {
        background: $ColorButton2;
      }
    }






