.function .function-first {
  background-color: #F2F2F2;
  display: flex;
  border-radius: 20px;
  margin: 0 15%;
  height: 72px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.function .fa-solid .fa-mobile-screen-button {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 15px;
}

.function .function-first p {
  font-size: 16px;
  font-weight: bold;
}

.function {
  padding: 20px;
}

.numberItem {

  margin-left: -15px;
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  width: 24px;
  justify-content: center;
  align-items: center;
  height: 24px;
  background-color: #9356DC;
  border: none;
  font-weight: bold;
  color: white;
  
}

@media (max-width:1440px){


  .function-card{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .function-first{
    display:flex;
    align-items: center; 
  }
  
  .function-first p{
    margin-right: 50px;
    margin-left: 30px;
  }



}