* {
    font-family: "Roboto", sans-serif;
    font-family: "Shirkhand";
    font-style: normal;
  }
  
  h1{
    font-family: "Shirkhand";
  }
  
  :root {
    --main-color: #9356DC;
    --second-color:#FF79DA;
    --third-color: #99E2D0;
  }
  
  .h1 .img{
    height: 36px;
  }
  