*{
  
    font-family: "Roboto",sans-serif;
    font-style: normal;
  }

  .TitleResto 
  .Logo{
    font-family:"Shrikhand";
  }

  body{
    margin:0px;
  }

  
  :root {
    --main-color: #9356DC;
    --second-color:#FF79DA;
    --third-color: #99E2D0;
  }
  
  
  