$bgColorGrid:#F6F6F6;
$policeColorCard: #008766;
$color-third: #99E2D0;

.GridRestaurant {
  padding: 20px;
  background-color: $bgColorGrid;

  .RestaurantCard{
    
    a {
      display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 75% 25%;
   
    }

   }

   .MenuCard{

    margin-bottom:17px;
   }

    .ImgCard {
      grid-column: 1/3;
      grid-row: 1/2;

      img {
        height: 200px;
        border-radius: 27px 27px 0 0;
        width: 100%;
        object-fit: cover;
      }
    }

    .IconsCard {
      z-index: 2;
      font-size: 22px;
      position:relative;
      top:-60px;
      left:80%;
      width:20%;
    }

    .NewCard {
      font-weight: 500;
      font-size: 14px;
      background-color: $color-third;
      color: $policeColorCard;
      grid-row: 1;
      grid-column: 2/3;
      width: 80px;
      height:29px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      right: 20px;
    }

    .Card {
      grid-row: 2/3;
      grid-column: 1/3;
      border: 1px solid $color-white;
      border-radius: 0 0 15px 15px;
      background-color: $color-white;
      color: $color-black;
      font-weight: bold;
      height: 70px;
      z-index: 1;
      position: relative;
      bottom: 15px;
      padding: 5px;
    }

  

  a {
    text-decoration: none;
  }
  
  .MainTitle {
    font-weight: bold;
    font-size: 18px;
    margin: 2px;
  }
  
  .SecondTitle {
    font-weight: lighter;
    font-size: 17px;
    margin: 1px;
  }
}
