.Box{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 75% 25%;
    margin:18px;
  }


  .Pix img {
    height: 200px;
    border-radius: 27px 27px 0px 0px;
    width:100%;
    object-fit: cover;
    
  }
  
  .Pix {
    grid-column: 1/3;
    grid-row: 1/2;
  }

   .New {

    border: solid 1px;
    font-weight: bold;
    font-size: 14px;
    background-color: #99E2D0;
    font-weight: bold;
    opacity: 0.45;
    height: 29px;
    color: #008766;
    display: block;
    grid-row: 1;
    grid-column: 2 / 3;
    width:60%;
    padding:3px;
    
    }
    
    .card-content{
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      border: 1px solid;
      border-radius: 0px 0px 15px 15px;
      background-color: white;
      color: black;
      font-weight: bold;
      height: 70px;
      z-index: 1;
      
    }

    .Emoji{
        grid-column: 2;
        grid-row: 2;
        color: black;
        z-index: 2;
        height:21px;
        
      }
      .TitleM {
        border-radius: 15px;
        background-color: white;
        color: black;
      }

      a{
        text-decoration:none
      }
