
.GridRestaurant {
  padding: 20px;
  background-color: #F6F6F6;
}

.RestaurantCard {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 75% 25%;
  margin: 18px;
}

.ImgCard img {
  height: 200px;
  border-radius: 27px 27px 0px 0px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.ImgCard {
  grid-column: 1/3;
  grid-row: 1/2;
}

.IconsHeart {
  grid-column: 2;
  grid-row: 2;
  z-index: 2;
  font-size:22px;
}

.NewCard {

  font-weight: bold;
  font-size: 14px;
  background-color: #99E2D0;
  font-weight: 500;
  height: 29px;
  color: #008766;
  grid-row: 1;
  grid-column: 2/3;
  width: 80px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.Card {
  grid-row: 2/3;
  grid-column: 1/3;
  border: 1px solid white;
  border-radius: 0px 0px 15px 15px;
  background-color: white;
  color: black;
  font-weight: bold;
  height: 70px;
  z-index: 1;
  position: relative;
  bottom: 15px;
  padding: 5px;
}

a {
  text-decoration: none;
}

.MainTitle {
  font-weight: bold;
  font-size: 18px;
  margin: 2px;
}

.SecondTitle {
  font-weight: lighter;
  font-size: 17px;
  margin: 1px;
}
