
.IconsFunction{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color:grey;
}

.IconsInput{
    height: 16px;
    width: 12px;
    display:flex;
    flex-direction: column;
    justify-content: center;
  
  }

  .IconsHeart {
    height: 21px;
    width: 100%;
    font-weight: lighter;
  }

  .fa-solid .fa-arrow-left{
    height:30px;
    margin:10px;
  
    

  }

