
.fa-solid .fa-mobile-screen-button{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color:grey;
}

.fa-solid .fa-location-dot{
    height: 16px;
    width: 12px;
    display:flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }

  .fa-regular .fa-heart {
    height: 21px;
    width: 100%;
    font-weight: lighter;
  }

  .fa-solid .fa-arrow-left{
    height:30px;
    

  }

