 

.input-first {
  background-color:#EAEAEA;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
  justify-content: center;
  height:50px;
  width:100%;
  filter: drop-shadow(3px 3px 3px grey);
}

.input-first .location {
  background-color:#EAEAEA;
  height: 50px;
  border: none;
}

.IconsInput{
  height: 16px;
  width: 12px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

::placeholder {
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

    
      

    
