
   
.input-first {
  width: 100%;
}

.input-first {
  background-color: #EAEAEA;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: baseline;
  justify-content: center;
  filter: drop-shadow(3px 3px 3px grey);
}

.input-first .location {
  background-color: #EAEAEA;
  height: 50px;
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
  border: none;
}

::placeholder {
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

    
      

    
