 $BgcolorInput:#EAEAEA;

.input-first {
  background-color:$BgcolorInput;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
  justify-content: center;
  height:50px;
  width:100%;
  filter: drop-shadow(3px 3px 3px grey);
}

.input-first .location {
  background-color:$BgcolorInput;
  border:none;
}

.IconsInput{
  height: 16px;
  width: 12px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

::placeholder {
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}


.input-first {
  background-color: $color-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  filter: drop-shadow(3px 3px 3px grey);

  .location {
    background-color: $color-gray;
    border: none;
  }

  .IconsInput {
    height: 16px;
    width: 12px;
    display: flex;
    flex-direction: column;
  }
}

::-moz-placeholder,
::placeholder {
  color: $color-black;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

    
     

    
