.header .img{
    height: 36px;
}

.img{
    height:245px;
}

.section .MenuPDG{
    background-color:#EAEAEA;
    border-radius: 15px;
}

.CardContentPDG {
    border: 1px solid;
    border-radius:15px;
    background-color: #EAEAEA;
}
