@mixin flex-row-center($wrap: nowrap) {
  display: flex;
  flex-direction: row;
  flex-wrap: $wrap;
  align-items: center;
  justify-content: center;
}

@mixin flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  @include flex-row-center(wrap);

  h1 {
    img {
      height: 36px;
    }
  }
}

.Resto {
  height: 220px;
}

.ImgResto {
  height: 275px;
  width: 100%;
  object-fit: cover;
}

.TitleResto {
  @include flex-space-evenly;
  font-size: 28px;
  font-weight: bold;
  font-family: font-logo;
  margin-left: 10px;

  .entrees,
  .plat,
  .desserts {
    margin-bottom: 40px;
  }
}

.Menu {
  background-color: #F6F6F6;
  border-radius: 47px 47px 0 0;
  position: relative;
  z-index: 3;
  color: black;

  .TitleMenu {
    margin: 12px;
    font-size: 18px;
    font-weight: 200;
  }

  .HeartTitle {
    @include flex-row-center;
    margin-left: 10px;
    justify-content: flex-end;
  }

  .LineMenu {
    border: 1px solid;
    width: 40px;
    color: #99E2D0;
    margin-left: 10px;
    margin-bottom: 12px;
    margin-top: -10px;
  }
}

#CustomFont {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: normal;
  margin-right: 30px;
}

.CardContent {
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  padding: 0 10px;
  margin: 10px;
  filter: drop-shadow(2px 4px 6px grey);
  overflow: hidden;

  .CardNS {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .Subtitle {
    margin-top: 1px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .Price {
    font-weight: bold;
    font-size: 15px;
    margin-top: 45px;
    margin-right: 30px;
  }

  .CheckMark {
    @include flex-column-center;
    height: 100%;
    width: 71px;
    background-color: #99E2D0;
    margin-right: -82px;
    border-radius: 0px 15px 15px 0px;
  }

  .Name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.Btn {
  @include flex-row-center;
  margin-top: 40px;
}

footer {
  img {
    height: 27px;
    width: 139px;
    color: white;
  }
}

.LogoMenu {
  font-family: "Shrikhand";
  font-weight: bold;
  font-size: 18px;
  color: white;
  position: absolute;
  right: 5px;
  margin-right: 20px;
  margin-top: 45px;
}

.fa-solid {
  .fa-utensils,
  .fa-handshake-angle {
    color: white;
  }
}

.BtnRounded {
  a:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
    height: 50px;
  }
}