input[type="checkbox"] {
    opacity: 0.5;
}

.FilledHeart, .EmptyHeart {
    transition: opacity 0.3s ease;
}

.FilledHeart {
    opacity: 1;
}

input .FilledHeart{
    opacity:0;
    right:53px;
}

input .EmptyHeart{
    right:25px;
}

input[type="checkbox"]:checked ~ .EmptyHeart {
    opacity: 1;
}
  
input[type="checkbox"]:checked ~ .FilledHeart {
    opacity: 1;
}

.EmptyHeart{
    opacity:2;
}
  

.CheckMark{
    height:100%;
    background-color:green;
    width:71px;
    margin-right:82px;
}