input[type="checkbox"] {
    display:none;
}

.FilledHeart, .EmptyHeart {
    transition: opacity 0.3s ease;
    position:absolute;
}

.IconesHeart .FilledHeart{
    color:violet
}


.FilledHeart {
    opacity: 0;
    right:55px;
}

.EmptyHeart{
    right:26px;
}

input[type="checkbox"]:checked ~ .EmptyHeart {
    opacity: 0;
  }
  

input[type="checkbox"]:checked ~ .FilledHeart {
    opacity: 1;
  }


.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid;
    border-color:#FF79DA ;
    border-right-color:#9356DC;
    animation: spinner-d3wgkg 0.4s infinite linear;
    transition-duration: 3s;
 }
 
 @keyframes spinner-d3wgkg {
    to {
       transform: rotate(1turn);
    }
 }

