
@media screen and (min-width: 1024px) {
  header {
    height: 96px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
  }


  .BtnRounded {
    width: 218px;
    margin-top: 18px;
    margin-bottom: 30px;
    font-size: 16px;
    margin-top:-15px;
  }

  .container-title {
    h2 {
      height: 47px;
      margin-top: 30px;
      margin-bottom: 18px;
      font-size: 40px;
    }

    h3 {
      height: 46px;
      font-size: 18px;
      margin-bottom: 18px;
    }
  }

  .input-first {
    .location {
      height: 19px;
    }
  }

  .TitleFunction{
    margin-left:5%
  }

  .Function {
    padding: 50px 180px;
  }

  .FunctionCard {
    display: flex;
    justify-content: space-around;
  }

  .Function.function-first {
    width: 30%;
  }

  .IconsFunction {
    margin-left: 15px;
  }

  .Function .function-first p {
    margin-left: 15px;
  }

  .MenuCard {
    width: 40%;
  }

  .Resto {
    height: 383px;
  }

  .ImgResto {
    height: 115%;
  }

  .Menu {
    padding: 0 180px;
    width: 40%;
    margin: auto;
  }


  .GridRestaurant {
    padding: 20px 180px;
  }

  .GridRestaurant h2 {
    margin-bottom: 28px;
    margin-left:5%
  }

  .ContainerMenu {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 100px;
    row-gap: 50px;
    align-items: center;
    justify-content: center;
  }

  .Subtitle {
    margin-top: 1px;
    font-size: 15px;
  }

  .Name {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 1px;
  }

  footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    height: 114px;
  }
  
  .IconsArrow{
    position:absolute;
    left:10px;
    margin-top:-10px;
  }

  footer a {
    margin-right: 20px;
  }


  .Logo{
    font-size: 18px;
    position: absolute;
    right: 5px;
    margin-right: 20px;
    margin-top:50px;
    font-family:"Shrikhand";
    margin-bottom:0.5rem;
  }

  .MainFooter {
    display:flex;
    flex-direction: row;
    margin-left: 32%;
    margin-top: 45px;
  }

  .IconsFooter.TxtFooter {
    margin-right: 20px;
  }

  .footer .img {
    color: white;
  }

}
