@mixin flex-center($direction: row, $wrap: nowrap, $alignItems: center, $justifyContent: center) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin flex-space-around {
  display: flex;
  justify-content: space-around;
}

@mixin flex-wrap-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  header {
    @include flex-center();
    height: 96px;
  }

  .BtnRounded {
    width: 218px;
    margin-top: -15px;
    margin-bottom: 30px;
    font-size: 16px;
  }

  .container-title {
    h2 {
      height: 47px;
      margin-top: 30px;
      margin-bottom: 18px;
      font-size: 40px;
    }

    h3 {
      height: 46px;
      font-size: 18px;
      margin-bottom: 18px;
    }
  }

  .input-first {
    .location {
      height: 19px;
    }
  }

  .TitleFunction {
    margin-left: 5%;
  }

  .Function {
    padding: 50px 180px;

    &.function-first {
      width: 30%;
    }

    .FunctionCard {
      @include flex-space-around;
    }

    .function-first p {
      margin-left: 15px;
    }
  }

  .IconsFunction {
    margin-left: 15px;
  }

  .MenuCard {
    width: 40%;
  }

  .Resto {
    height: 383px;
  }

  .ImgResto {
    height: 115%;
  }

  .Menu {
    padding: 0 180px;
    width: 40%;
    margin: auto;
  }

  .GridRestaurant {
    padding: 20px 180px;

    h2 {
      margin-bottom: 28px;
      margin-left: 5%;
    }
  }

  .ContainerMenu {
    @include flex-wrap-center;
    column-gap: 100px;
    row-gap: 50px;
    width: 100%;
  }

  .Subtitle {
    margin-top: 1px;
    font-size: 15px;
  }

  .Name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1px;
  }

  footer {
    @include flex-center(row, wrap, flex-end);
    height: 114px;

    a {
      margin-right: 20px;
    }

    .img {
      color: white;
    }
  }

  .IconsArrow {
    position:absolute;
    left:10px;
    margin-top:-10px;
  }

  .Logo {
    font-size: 18px;
    position: absolute;
    right: 5px;
    margin-right: 20px;
    margin-top: 50px;
    font-family: "Shrikhand";
    margin-bottom: 0.5rem;
  }

  .MainFooter {
    display: flex;
    flex-direction: row;
    margin-left: 32%;
    margin-top: 45px;
  }

  .IconsFooter.TxtFooter {
    margin-right: 20px;
  }
}